@using Model;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lst_Casi = (List<Model.EF.tbl_CaSi>)ViewBag.ListCaSi;
}

<div class="container">
    <div class="col-md-8">
        <div id="slider_owl_keeng" class="slider-owl-singer">
            <a class="slider-owl-item" href="#">
                <img src="~/asset/client/images/Casi/zdl0g3359wAvEuJXAKZj5911388ddfcf8.JPG" width="100%" />
                <div class="info-artice">
                    <h3 class="info-artice-h3">Ca sĩ của tuần: Hằng BingBoong</h3>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="collect-singer-keeng">
            <div class="csk-tab">
                <p class="csk-tab-p">
                    <a class="csk-tab-lnk active" href="#">NỔI BẬT</a>
                    <a class="csk-tab-lnk" href="#">ABC</a>
                </p>
            </div>
            <div class="row csk-wrap">
                @foreach (var item in lst_Casi)
                {
                    <div class="col-xs-6 col-sm-3 csk-item">
                        <a class="csk-lnk-img" href="../Danhsachcasi/Thongtincasi/@item.Id">
                            <img src="@item.urlImage" />
                        </a>
                        <div class="csk-info">
                            <h3 class="csk-info-h3">
                                <a href="../Danhsachcasi/Thongtincasi/@item.Id">@item.NgheDanh</a>
                            </h3>
                        </div>
                    </div>
                }
                @*<div class="col-xs-6 col-sm-3 csk-item">
                    <a class="csk-lnk-img" href="#">
                        <img src="~/asset/client/images/Casi/o19hlrrE5HXVq6EdsqnA59159687abe74_310_310.jpg" />
                    </a>
                    <div class="csk-info">
                        <h3 class="csk-info-h3">
                            <a href="#">Hằng BingBoong</a>
                        </h3>
                    </div>
                </div>*@
               
            </div>
        </div>
    </div>

