
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-8">
        <!-- Box mostlisten audio -->
        <div class="collection-keeng-album" id="audioMostListen">
            <h2 class="keeng-title-h2">
                <a href="#">
                    BÀI HÁT NGHE NHIỀU
                </a>
            </h2>
            <div class="wrap-collection-album">
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="more-keeng-view">
                <a href="#">
                    <img src="~/asset/client/images/BaiHat/ver3_12.png" height="7"/>
                </a>
            </p>
        </div>
        <!--Box lastest audio-->
        <div class="collection-keeng-album" id="audioMostListen">
            <h2 class="keeng-title-h2">
                <a href="#">
                    BÀI HÁT MỚI
                </a>
            </h2>
            <div class="wrap-collection-album">
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 keeng-album">
                    <div class="ka-content audio-content">
                        <a class="ka-lnk" href="#">
                            <img src="~/asset/client/images/BaiHat/sr2knbqtet402W0CEzc158c63dd8d38e0_103_103.jpg" />
                        </a>
                        <div class="ka-info" style="top:-23px;left:47px;">
                            <h3 class="ka-info-h3">
                                <a href="#">Từ Giây Phút Đầu</a>
                            </h3>
                            <p class="ka-info-singer">
                                <a>Hari Won ft Trấn Thành</a>
                                <span class="ka-info-view">
                                    <img height="10" src="~/asset/client/images/BaiHat/ver3_09_b.png" />
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="more-keeng-view">
                <a href="#">
                    <img src="~/asset/client/images/BaiHat/ver3_12.png" height="7" />
                </a>
            </p>
        </div>
    </div>

